<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nianlun.foregroundservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity android:name=".ForegroundServiceActivity"/>
        <activity android:name=".NotificationActivity" />

        <service android:name=".ForegroundService" />
    </application>

</manifest>