<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nianlun.foregroundservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@drawable/development_record"
        android:label="@string/foregroundservice_app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ForegroundServiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NotificationActivity" />

        <service android:name=".ForegroundService" />

    </application>

</manifest>